.form-label {
  font-size: 14px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  color: #8D3B1E;
  border: none;
  margin-bottom: 5px;
}