.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #8A8C84;
}
.bg-darkest-gray {
  background-color: #222612;
}
.bg-tan {
  background-color: #CAD1AE;
}

.bg-white {
  background-color: #FFF;
}

.white-border {
  border: 10px solid #FFF;
}