.xs-margin-bottom {
  margin-bottom: 5px;
}
.med-margin-bottom {
  margin-bottom: 10px;
}
.lg-margin-bottom {
  margin-bottom: 20px;
}
.xl-margin-bottom {
  margin-bottom: 40px;
}
.xs-margin-right {
  margin-right: 5px;
}
.med-margin-right {
  margin-right: 10px;
}
.lg-margin-right {
  margin-right: 20px;
}
.xl-margin-right {
  margin-right: 40px;
}
